
body{
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color:#00FF00;
}

.quem-somos{
    background-color: blue;
    color: white; 
}

.margin{
    padding-bottom: 150pix;
    padding-top: 10px;
}

.parceiros{
    background-color:#DF7401;
}

.bg-footer{
    background-color: black;
    color: white
}